:root {
    --whitecl: #fff;
    --maintext: #333;
    --subtext: #bebebe;
    --btnbg: #333;
    --bggradient: linear-gradient(135deg, #252525, #696969, #cacaca);
    --bgcard: #ffffff3b;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background: var(--bggradient);
    color: var(--whitecl);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    width: 80%;
    margin: auto;
}


/* -----------------------------frame----------------------------- */

.display-h {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.display-v {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.main__button {
    padding: .625rem 2.5rem;
    background-color: var(--btnbg);
    color: var(--whitecl);
    border: 0;
    border-radius: 1.875rem;
    cursor: pointer;
    transition: 0.5s;
}

.main__button:hover {
    padding: .625rem 3.75rem;
    background-color: transparent;
    border: .0625rem solid var(--whitecl);
    border-radius: 1.875rem;
}

a {
    text-decoration: none;
    color: var(--whitecl);
}

/* -----------------------------frame----------------------------- */

/* -----------------------------start nav----------------------------- */

.nav {
    position: fixed;
    top: 50%;
    left: 1.25rem;
    transform: translateY(-50%);
    width: 70px;
    background-color: var(--subtext);
    border-radius: 2.1875rem;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    z-index: 10;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1)
}

.nav__left {
    gap: 1.25rem;
}

.nav__left img {
    width: 2.5rem;
}

.nav__left h1 {
    font-size: 1.125rem;
    font-weight: 400;
    display: none;
    transform: scale(0.1);
    transition: 0.7s;
}

.nav__left:hover h1 {
    display: block;
    transform: scale(1);
}

.nav__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.nav__right a {
    position: relative;
    color: var(--maintext);
    font-size: 1.2rem;
    margin-bottom: 20px;
    transition: 0.3s;
}

.nav__right a:hover {
    color: var(--whitecl);
    background-color: var(--maintext);
    border-radius: 50%;
    padding: .9375rem;
}

.nav__right a::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
    background-color: var(--maintext);
    color: var(--whitecl);
    padding: .3125rem 8px;
    border-radius: .3125rem;
    font-size: 0.8rem;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
}

.nav__right a::before {
    content: "";
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    border-width: .3125rem;
    border-style: solid;
    border-color: var(--maintext) transparent transparent transparent;
    opacity: 0;
    transition: 0.3s ease;
}

.nav__right a:hover::after,
.nav__right a:hover::before {
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

/* -----------------------------end nav----------------------------- */

/* -----------------------------start head----------------------------- */

.head {
    justify-content: center;
    margin-top: 1.5rem;
}

.head__left {
    width: 100%;
    display: flex;
    justify-content: center;
}

.head__left__img {
    border: 2px solid var(--whitecl);
    border-radius: 50%;
    padding: .625rem;
    width: fit-content;
    align-items: center;
    margin-bottom: 1.25rem;
}

.head__left__img img {
    width: 18.75rem;
    height: 18.75rem;
    object-fit: cover;
    filter: grayscale(1);
    transition: 1s;
    border-radius: 50%;
}

.head__left__img img:hover {
    filter: grayscale(0);
}

.head__right h4 {
    font-size: .75rem;
}

.head__right h1 {
    padding: .625rem 0;
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 0rem;
    transition: 1s;
}

.head__right h1:hover {
    letter-spacing: .625rem;
}

.head__right h2 {
    color: var(--subtext);
    font-weight: 100;
}

.head__right__button {
    padding: .625rem 0;

}


.head__right__links {
    gap: 1.25rem;
}


.head__right__links img {
    width: 1.875rem;
    border-radius: .3125rem;
    margin-top: .3125rem;
    transition: 0.5s;
}

.head__right__links img:hover {
    filter: drop-shadow(0 0 .3125rem var(--whitecl));
    transform: scale(1.1);
}

/* -----------------------------end head----------------------------- */

/* -----------------------------start main----------------------------- */

.main {
    margin-top: 3.75rem;
}

.main__Projects,
.main__about,
.main__exp,
.main__tech {
    text-align: left;
    border-bottom: .0625rem solid var(--subtext);
    width: 90%;
    margin: auto;
}

.main h3 {
    color: var(--subtext);
    font-size: .75rem;
}

.main__about__content {
    width: 90%;
    margin: 1.875rem auto 5rem;
    line-height: 2.125rem;
    font-size: 1.25rem;
    color: var(--subtext);
    border-left: .0625rem solid;
    padding-left: 30px;
    text-indent: 3.125rem;
}

.main__exp__content {
    width: 90%;
    margin: 1.875rem auto 5rem;
    line-height: 2.125rem;
    font-size: 1.25rem;
    color: var(--subtext);
    border-left: 1px solid;
    padding-left: 1.875rem;
    text-indent: 3.125rem;
}

.main__exp__content__head {
    display: flex;
    align-items: center;
    gap: .625rem;
}

.main__exp__content__head img {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--whitecl);
    padding: .625rem;
    border-radius: 50%;
}

.main__exp__content__head__text h2 {
    color: var(--whitecl);
    text-indent: 0;
    font-size: 1.25rem;
}


.main__exp__content__head__text h3 {
    color: var(--whitecl);
    text-indent: 0;
    font-size: .9375rem;
    margin-bottom: .9375rem;
}

.main__tech__i {
    width: 90%;
    margin: 1.875rem auto 5rem;
    line-height: 2.125rem;
    color: var(--subtext);
    border-left: 1px solid;
    padding-left: 1.875rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.main__tech__i i {
    font-size: 3rem;
    color: var(--maintext);
    padding: 1rem;
    border-radius: 0.8rem;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, filter 0.3s ease;
    cursor: pointer;
}

.main__tech__i i:hover {
    color: var(--whitecl);

    transform: scale(1.2);
    filter: drop-shadow(0 0 10px var(--whitecl));
}

.main__Projects h1 {
    margin: 0;
    font-size: 2.5rem;
}

.main__cards {
    display: flex;
    justify-content: center;
    column-gap: 3.125rem;
    margin-top: 1.25rem;
    flex-wrap: wrap;

}

.main__cards__card {
    width: 100%;
    background-color: var(--bgcard);
    padding: 1.25rem;
    border-radius: 1.5625rem;
    transition: 0.5s;
    cursor: pointer;
}

.main__cards__card:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 .3125rem .625rem var(--whitecl));

}

.main__cards__card__img {
    background-color: #00000063;
    padding: .3125rem;
    border-radius: .625rem;
}


.main__cards__card__img img {
    border-radius: .625rem;
    height: 8.75rem;
    filter: blur(.125rem);
    width: 18.75rem;
    transition: filter 1.2s;
}

.main__cards__card:hover img {
    filter: blur(0);
}

.main__cards__card__img h6 {
    padding: .625rem 0;
}

.main__cards__card__description h2 {
    font-size: .9375rem;
    line-height: 1.875rem;
    text-align: center;
}

.main__cards__card__button {
    gap: .625rem;
    justify-content: center;
}

.main__cards__card__button button {
    padding: .625rem 1.25rem;
    font-size: .625rem;
    width: 5.625rem;
}

.main__cards__card__button button:hover {
    padding: .625rem 1.5625rem;
    font-size: .8125rem;
}



/* -----------------------------end main----------------------------- */

/* -----------------------------start footer----------------------------- */

.footer {
    margin-top: 5rem;
}

.footer__header {
    text-align: center;
}

.footer__header h3 {
    color: var(--subtext);
    font-size: .75rem;
}

.footer__header h1 {
    margin: 0;
    font-size: 2.5rem;
}

.footer__mail {
    justify-content: center;
    margin-bottom: 1.25rem;
    background-color: var(--bgcard);
    width: fit-content;
    margin: auto;
    padding: .625rem 1.875rem;
    border-radius: .625rem;
    margin-top: .625rem;
    transition: 0.7s;
}

.footer__mail:hover {
    filter: drop-shadow(0 0 .3125rem var(--whitecl));
}

.footer__mail__a {
    gap: .625rem;
}

.footer__mail img {
    background-color: var(--maintext);
    padding: .3125rem;
    border-radius: .3125rem;
}

.footer__copyright {
    margin: 1.875rem 0;
    color: var(--subtext);
}

/* -----------------------------end footer----------------------------- */




@media (max-width: 767px) {
    .container {
        width: 95%;
    }


    .nav {
        flex-direction: column;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 70px;
        border-radius: 20px;
        justify-content: space-around;
        align-items: center;
        padding: 0 1rem;
        margin-top: 20px;
    }

    .nav__right {
        flex-direction: row;
        gap: 40px;
    }

    .nav__right a {
        margin-bottom: 0;
    }

    .nav__right a::after {
        top: auto;
        bottom: -80%;
        background-color: var(--whitecl);
        color: var(--maintext);
        font-weight: bold;
    }

    .nav__right a::before {
        top: auto;
        bottom: -20%;
        border-color: transparent transparent var(--whitecl) transparent;
    }

    .nav__right a:hover::after {
        transform: translateX(-50%) translateY(0);
    }


    .head__left {
        width: 100%;
        text-align: center;
        margin-top: 6.875rem;

    }

    .head__right {
        width: 100%;
        text-align: center;
    }



    .head__left__img img {
        width: 230px;
        height: 230px;
    }

    .main__cards {
        align-items: center;
        gap: 1.25rem;
    }

    .main__cards__card {
        width: 100%;
    }

    .main__cards__card__img img {
        width: 15rem;
        height: 10rem;
    }
}


@media (max-width: 25rem) {
    body {
        font-size: .9375rem;
    }

    .container {
        width: 100%;
        padding: 0 .3125rem;
    }

    .nav {
        height: 60px;
        gap: 1rem;
        flex-direction: row;
    }

    .nav__right a {
        font-size: 1rem;
    }

    .nav__left {
        justify-content: center;
        gap: .625rem;
    }

    .nav__left img {
        width: 1.5rem;
    }

    .nav__right {
        justify-content: center;
        gap: 20px;
    }

    .head {
        margin-top: 1.25rem;
    }

    .head__left__img img {
        width: 11.25rem;
        height: 11.25rem;
    }

    .head__right h1 {
        font-size: 1.75rem;
    }

    .main__header h1,
    .footer__header h1 {
        font-size: 1.75rem;
    }

    .main__cards__card__img img {
        width: 15rem;
        height: 10rem;
    }

    .main__cards__card {
        padding: .625rem;
        border-radius: .9375rem;
        width: 100%;
    }

    .footer {
        margin-top: 2.5rem;
    }

    .footer__mail {
        padding: .625rem 1.875rem;
        font-size: .875rem;
    }

    .footer__copyright {
        display: flex;
        text-align: center;
        font-size: .625rem;
    }
}