:root {
    --whitecl: #fff;
    --maintext: #333;
    --subtext: #bebebe;
    --btnbg: #333;
    --bggradient: linear-gradient(135deg, #252525, #696969, #cacaca);
    --bgcard: #ffffff3b;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background: var(--bggradient);
    color: var(--whitecl);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    width: 80%;
    margin: auto;
}


/* -----------------------------frame----------------------------- */

.display-h {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.display-v {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.main__button {
    padding: 10px 40px;
    background-color: var(--btnbg);
    color: var(--whitecl);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.main__button:hover {
    padding: 10px 60px;
    background-color: transparent;
    border: 1px solid var(--whitecl);
    border-radius: 30px;
}

a {
    text-decoration: none;
    color: var(--whitecl);
}

/* -----------------------------frame----------------------------- */

/* -----------------------------start nav----------------------------- */

.nav {
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 1px solid var(--whitecl);
    padding: 10px 30px;
}

.nav__left {
    gap: 20px;
}

.nav__left img {
    width: 40px;
}

.nav__left h1 {
    font-size: 18px;
    font-weight: 400;
}

.nav__right a {
    position: relative;
    padding: 0 10px;
    margin-left: 10px;
}

.nav__right a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    left: 0;
    bottom: -4px;
    background-color: var(--whitecl);
    transition: 0.7s;

}

.nav__right a:hover::after {
    width: 100%;
}

/* -----------------------------end nav----------------------------- */

/* -----------------------------start head----------------------------- */

.head {
    justify-content: center;
    margin-top: 40px;
}

.head__left {
    width: 50%;
}

.head__left__img img {
    width: 300px;
    filter: grayscale(1);
    transition: 1s;

}

.head__left__img img:hover {
    filter: grayscale(0);
}

.head__right h4 {
    font-size: 12px;
}

.head__right h1 {
    padding: 10px 0;
    margin: 0;
    font-size: 40px;
    letter-spacing: 0px;
    transition: 1s;
}

.head__right h1:hover {
    letter-spacing: 10px;
}

.head__right h2 {
    color: var(--subtext);
    font-weight: 100;
}

.head__right__button {
    padding: 10px 0;

}


.head__right__links {
    gap: 20px;
}


.head__right__links img {
    width: 30px;
    border-radius: 5px;
    margin-top: 5px;
    transition: 0.5s;
}

.head__right__links img:hover {
    filter: drop-shadow(0 0 5px var(--whitecl));
    transform: scale(1.1);
}

/* -----------------------------end head----------------------------- */

/* -----------------------------start main----------------------------- */

.main {
    margin-top: 60px;
}

.main__header {
    text-align: center;
}

.main__header h3 {
    color: var(--subtext);
    font-size: 12px;
}

.main__header h1 {
    margin: 0;
    font-size: 40px;
}

.main__cards {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin-top: 20px;
    flex-wrap: wrap;

}

.main__cards__card {
    width: 100%;
    background-color: var(--bgcard);
    padding: 20px;
    border-radius: 25px;
    transition: 0.5s;
    cursor: pointer;
}

.main__cards__card:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 5px 10px var(--whitecl));

}

.main__cards__card__img {
    background-color: #00000063;
    padding: 5px;
    border-radius: 10px;
}


.main__cards__card__img img {
    border-radius: 10px;
    height: 140px;
    filter: blur(2px);
    width: 300px;
}

.main__cards__card:hover img {
    filter: blur(0);
}

.main__cards__card__img h6 {
    padding: 10px 0;
}

.main__cards__card__description h2 {
    font-size: 15px;
    line-height: 30px;
    text-align: center;
}

.main__cards__card__button {
    gap: 10px;
    justify-content: center;
}

.main__cards__card__button button {
    padding: 10px 20px;
    font-size: 10px;
    width: 90px;
}

.main__cards__card__button button:hover {
    padding: 10px 25px;
    font-size: 13px;
}

/* -----------------------------end main----------------------------- */

.footer {
    margin-top: 80px;
}

.footer__header {
    text-align: center;
}

.footer__header h3 {
    color: var(--subtext);
    font-size: 12px;
}

.footer__header h1 {
    margin: 0;
    font-size: 40px;
}

.footer__mail {
    justify-content: center;
    margin-bottom: 20px;
    background-color: var(--bgcard);
    width: 35%;
    margin: auto;
    padding: 10px 0;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.7s;
}

.footer__mail:hover {
    filter: drop-shadow(0 0 5px var(--whitecl));
}

.footer__mail__a {
    gap: 10px;
}

.footer__mail img {
    background-color: var(--maintext);
    padding: 5px;
    border-radius: 5px;
}

.footer__copyright {
    margin: 30px 0;
    color: var(--subtext);
}