:root {
    --whitecl: #fff;
    --maintext: #333;
    --subtext: #bebebe;
    --btnbg: #333;
    --bggradient: linear-gradient(135deg, #252525, #696969, #cacaca);
    --bgcard: #ffffff3b;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background: var(--bggradient);
    color: var(--whitecl);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    width: 80%;
    margin: auto;
}


/* -----------------------------frame----------------------------- */

.display-h {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.display-v {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.main__button {
    padding: .625rem 2.5rem;
    background-color: var(--btnbg);
    color: var(--whitecl);
    border: 0;
    border-radius: 1.875rem;
    cursor: pointer;
    transition: 0.5s;
}

.main__button:hover {
    padding: .625rem 3.75rem;
    background-color: transparent;
    border: .0625rem solid var(--whitecl);
    border-radius: 1.875rem;
}

a {
    text-decoration: none;
    color: var(--whitecl);
}

/* -----------------------------frame----------------------------- */

/* -----------------------------start nav----------------------------- */

.nav {
    justify-content: space-between;
    margin-top: .625rem;
    border-bottom: .0625rem solid var(--whitecl);
    padding: .625rem 1.875rem;
}

.nav__left {
    gap: 1.25rem;
}

.nav__left img {
    width: 2.5rem;
}

.nav__left h1 {
    font-size: 1.125rem;
    font-weight: 400;
}

.nav__right a {
    position: relative;
    padding: 0 .625rem;
    margin-left: .625rem;
}

.nav__right a::after {
    position: absolute;
    content: "";
    width: 0;
    height: .0625rem;
    left: 0;
    bottom: -0.25rem;
    background-color: var(--whitecl);
    transition: 0.7s;

}

.nav__right a:hover::after {
    width: 100%;
}

/* -----------------------------end nav----------------------------- */

/* -----------------------------start head----------------------------- */

.head {
    justify-content: center;
    margin-top: 2.5rem;
}

.head__left {
    width: 50%;
}

.head__left__img img {
    width: 18.75rem;
    filter: grayscale(1);
    transition: 1s;

}

.head__left__img img:hover {
    filter: grayscale(0);
}

.head__right h4 {
    font-size: .75rem;
}

.head__right h1 {
    padding: .625rem 0;
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 0rem;
    transition: 1s;
}

.head__right h1:hover {
    letter-spacing: .625rem;
}

.head__right h2 {
    color: var(--subtext);
    font-weight: 100;
}

.head__right__button {
    padding: .625rem 0;

}


.head__right__links {
    gap: 1.25rem;
}


.head__right__links img {
    width: 1.875rem;
    border-radius: .3125rem;
    margin-top: .3125rem;
    transition: 0.5s;
}

.head__right__links img:hover {
    filter: drop-shadow(0 0 .3125rem var(--whitecl));
    transform: scale(1.1);
}

/* -----------------------------end head----------------------------- */

/* -----------------------------start main----------------------------- */

.main {
    margin-top: 3.75rem;
}

.main__header {
    text-align: center;
}

.main__header h3 {
    color: var(--subtext);
    font-size: .75rem;
}

.main__header h1 {
    margin: 0;
    font-size: 2.5rem;
}

.main__cards {
    display: flex;
    justify-content: center;
    column-gap: 3.125rem;
    margin-top: 1.25rem;
    flex-wrap: wrap;

}

.main__cards__card {
    width: 100%;
    background-color: var(--bgcard);
    padding: 1.25rem;
    border-radius: 1.5625rem;
    transition: 0.5s;
    cursor: pointer;
}

.main__cards__card:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 .3125rem .625rem var(--whitecl));

}

.main__cards__card__img {
    background-color: #00000063;
    padding: .3125rem;
    border-radius: .625rem;
}


.main__cards__card__img img {
    border-radius: .625rem;
    height: 8.75rem;
    filter: blur(.125rem);
    width: 18.75rem;
    transition: filter 1.2s;
}

.main__cards__card:hover img {
    filter: blur(0);
}

.main__cards__card__img h6 {
    padding: .625rem 0;
}

.main__cards__card__description h2 {
    font-size: .9375rem;
    line-height: 1.875rem;
    text-align: center;
}

.main__cards__card__button {
    gap: .625rem;
    justify-content: center;
}

.main__cards__card__button button {
    padding: .625rem 1.25rem;
    font-size: .625rem;
    width: 5.625rem;
}

.main__cards__card__button button:hover {
    padding: .625rem 1.5625rem;
    font-size: .8125rem;
}

/* -----------------------------end main----------------------------- */

/* -----------------------------start footer----------------------------- */

.footer {
    margin-top: 5rem;
}

.footer__header {
    text-align: center;
}

.footer__header h3 {
    color: var(--subtext);
    font-size: .75rem;
}

.footer__header h1 {
    margin: 0;
    font-size: 2.5rem;
}

.footer__mail {
    justify-content: center;
    margin-bottom: 1.25rem;
    background-color: var(--bgcard);
    width: fit-content;
    margin: auto;
    padding: .625rem 1.875rem;
    border-radius: .625rem;
    margin-top: .625rem;
    transition: 0.7s;
}

.footer__mail:hover {
    filter: drop-shadow(0 0 .3125rem var(--whitecl));
}

.footer__mail__a {
    gap: .625rem;
}

.footer__mail img {
    background-color: var(--maintext);
    padding: .3125rem;
    border-radius: .3125rem;
}

.footer__copyright {
    margin: 1.875rem 0;
    color: var(--subtext);
}

/* -----------------------------end footer----------------------------- */




@media (max-width: 56.25rem) {
    .container {
        width: 95%;
    }

    .display-h {
        align-items: center;
    }

    .head__left,
    .head__right {
        width: 100%;
        text-align: center;
    }

    .head__left {
        margin-top: 1.875rem;

    }

    .main__cards {
        align-items: center;
        gap: 1.25rem;
    }

    .main__cards__card {
        width: 100%;
    }

    .main__cards__card__img img {
        width: 15rem;
        height: 10rem;
    }

}

@media (max-width: 37.5rem) {
    body {
        font-size: .9375rem;
    }

    .container {
        width: 100%;
        padding: 0 .3125rem;
    }

    .nav {
        flex-direction: column;
        padding: .625rem .625rem;
        gap: .625rem;
        align-items: center;
    }

    .nav__left {
        justify-content: center;
        gap: .625rem;
    }

    .nav__right {
        justify-content: center;
        margin-top: .625rem;
    }

    .head {
        margin-top: 1.25rem;
    }

    .head__left__img img {
        width: 11.25rem;
    }

    .head__right h1 {
        font-size: 1.75rem;
    }

    .main__header h1,
    .footer__header h1 {
        font-size: 1.75rem;
    }

    .main__cards__card__img img {
        width: 15rem;
        height: 10rem;
    }

    .main__cards__card {
        padding: .625rem;
        border-radius: .9375rem;
        width: 100%;
    }

    .footer {
        margin-top: 2.5rem;
    }

    .footer__mail {
        padding: .625rem 1.875rem;
        font-size: .875rem;
    }

    .footer__copyright {
        display: flex;
        text-align: center;
        font-size: .625rem;
    }
}